<section id="cover">
    <h1>{{ site.course.title }}</h1>
    <hr />
    <h5><a href="{{ site.course.author.link }}">{{ site.course.author.name }}</a></h5>
    <p>{{ site.course.center }}</p>
    <br />
    <div class="row">
        <div class="col">
            <img width="200px" src="images/logo-programoergosum.png" alt="Programo Srgo Sum" />
        </div>
        <div class="col">
            <img width="200px" src="images/logo-cprmurcia.png" alt="CPR Región de Murcia" />
        </div>
    </div>
</section>