<section id="cover">
    <section>
        <h1>Programación en Python con Raspberry Pi</h1>
        <hr />
        <h5><a href="https://migueabellan.github.io">Miguel Ángel Abellán</a></h5>
        <p>Septiembre 2019, Murcia</p>
        <br />
        <br>
        <div class="row">
            <div class="col">
                <img width="200px" src="images/logo-programoergosum.png" alt="Programo Srgo Sum" />
            </div>
        </div>
    </section>
    <section data-markdown>
        ### Objetivos
    </section>
    <!--
    <section data-markdown>
        #### Posibles usos de la Raspberry Pi

        [Bartop Arcade](https://github.com/migueabellan/maquina-recreativa-arcade)

        ![](images/objetivos-1.jpg)

        https://twitter.com/lobo_tic/status/1131159685678206976
    </section>
    -->
    <section data-markdown>
        #### Aprender a programar en Python y MicroPython

        [Air:bit](https://www.makekit.no/airbit)

        ![](images/objetivos-2.gif)
    </section>
    <section data-markdown>
        #### Conocer el internet de las cosas

        ![](images/objetivos-3.gif)
    </section>
    <section data-markdown>
        #### Domótica básica con Raspberry Pi

        ![](images/objetivos-4.png)
    </section>
    <section data-markdown>
        #### Conectar con el mundo analógico

        ![](images/objetivos-5.gif)
    </section>
</section>