<section id="cover">
    <section>
        <h1>{{ site.course.title }}</h1>
        <hr />
        <h5><a href="{{ site.course.author.link }}">{{ site.course.author.name }}</a></h5>
        <p>{{ site.course.center }}</p>
        <small>3ª Edición - Septiembre 2019</small>
        <br />
        <br>
        <div class="row">
            <div class="col">
                <img width="200px" src="images/logo-programoergosum.png" alt="Programo Srgo Sum" />
            </div>
            <div class="col">
                <img width="200px" src="images/logo-cprmurcia.png" alt="CPR Región de Murcia" />
            </div>
        </div>
    </section>
    <section data-markdown>
        ### Objetivos
    </section>
    <section data-markdown>
        #### Posibles usos de la Raspberry Pi

        [Bartop Arcade](https://github.com/migueabellan/maquina-recreativa-arcade)

        ![](images/objetivos-1.gif)
    </section>
    <section data-markdown>
        #### Aprender a programar en Python y MicroPython

        [Air:bit](https://www.makekit.no/airbit)

        ![](images/objetivos-2.gif)
    </section>
    <section data-markdown>
        #### Conocer el internet de las cosas

        ![](images/objetivos-3.gif)
    </section>
    <section data-markdown>
        #### Domótica básica con Raspberry Pi

        ![](images/objetivos-4.png)
    </section>
    <section data-markdown>
        #### Conectar con el mundo analógico

        ![](images/objetivos-5.gif)
    </section>
    <section data-markdown>
        ### Contenidos

        - Sistema Operativo Raspbian
            - Administración básica de Linux
            - Automatización de tareas
        - Lenguajes de programación
            - Python
            - MicroPython
            - Arduino
            - Bash script
            - HTML 
        - Conectando el mundo digital y físico
            - Electrónica básica
    </section>
    <section data-markdown>
        ### Planificación

        | L | M | X | J | V | S | D |
        | :--: | :--: | :--: | :--: |
        | 16 | 17 | 18 | **19** | 20 | 21 | 22 |
        | 23 | **24** | 25 | **26** | 27 | 28 | 29 |
        | 30 | **1** | 2 | **3** | 4 | 5 | 6 |
        | 7 | **8** | 9 | **10** | 11 | 12 | 13 |

        ---
        
        - **24 horas**: Formación presencial
        - **4 horas**: Trabajo presencial
        - **2 horas**: Formación autónoma
    </section>
    <section data-markdown>
        ### Trabajos anteriores
    </section>
    <section data-markdown>
        #### Inmaculada Sánchez

        [Robot Andarín](https://www.elcableamarillo.cc/practicas/primaria/robot-andarin)

        ![](images/practica-robot-andarin.gif)
    </section>
    <section data-markdown>
        #### Javier Solana

        [Sensor de luz ambiente](https://www.elcableamarillo.cc/practicas/bachillerato/sensor-luz-ambiente-con-microbit)

        ![](images/practica-sensor.gif)
    </section>
    <section data-markdown>
        #### Cristóbal Solano

        [Sensor de luz ambiente](https://www.elcableamarillo.cc/practicas/bachillerato/registro-de-temperatura-en-csv)

        ![](images/practica-temperatura.JPG)
    </section>
    <section data-markdown>
        #### Sergio Lino

        [Cilindros neumáticos](https://www.elcableamarillo.cc/practicas/bachillerato/control-de-cilindros-con-raspberry-pi)

        ![](images/practica-cilindros.gif)
    </section>
</section>