<section>
    <section data-markdown>
        ## 5ª Sesión

        Pines GPIO + Arduino
        
        > 13 de Mayo de 2019
    </section>
    <section data-markdown>
        ### Pines GPIO

        General Purpose Input Output (GPIO) es un sistema de entrada y salida de propósito general.

        ![](images/gpio.png)

        [Pinout](https://es.pinout.xyz/#)
    </section>
    <section data-markdown>
        ### Modo de los pines

        - GPIO: se numeran de forma física que ocupan en la placa (gris)
        - BCM: se numeran por la correspondencia en el chip Broadcom CPU.

        ![](images/gpio-rpi.png)
    </section>
    <section data-markdown>
        ### Thonny Python IDE

        Thonny Python IDE es un entorno de programación sencillo para programar en Python con Raspbian.
    </section>

</section>
