<section>
    <section data-markdown>
        ## 2ª Sesión
        
        Programación en Python
        
        > 2 de Mayo de 2019
    </section>
    <section data-markdown>
        ### ¿Qué es GitHub?

        GitHub es una plataforma para alojar proyectos utilizando el sistema de control de versiones de **Git**.
        
        ![](images/github.png)

        [GitHub ElCableAmarillo](https://github.com/ElCableAmarillo)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Crea un cuenta en GitHub y un repositorio
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Crea un cuenta en GitHub y un repositorio

        [Tutorial en WikiTIC](https://wikitic.github.io/git-github/)

        ![](https://raw.githubusercontent.com/wikitic/git-github/master/preview.png)
    </section>
    <section data-markdown>
        ### Lenguaje de programación

        Un lenguaje de programación está compuesto por símbolos y reglas sintácticas y semánticas, expresadas en forma de instrucciones y relaciones lógicas, mediante las cuales se construye el código fuente.
        
        - **Lenguajes de bajo nivel**: Diseñados para un Hardware específico.
        - **Lenguajes de alto nivel**: Pueden emplearse en distintos tipos de arquitecturas.
    </section>
    <section data-markdown>
        ### Tipos de lenguajes de programación

        - **Interpretado**: Un lenguaje interpretado se ejecuta sin necesidad de ser procesado por el compilador y se detectan los errores en tiempo de ejecución.
            - Python
            - PHP
            - ...
        - **Compilado**: Un lenguaje compilado debe ser traducido a lenguaje máquina por el compilador.
            - C 
            - Arduino
            - ...
    </section>
    <section data-markdown>
        ### Paradigmas de la programación

        - **Funcional**: Basados en la programación declarativa de funciones matemáticas.
        - **Imperativo**: El más cercano a la estructura del ordenador y programación que conocemos.
        - **Orientado a objetos**: Utiliza clases para representar objetos programados mediante programación imperativa.
    </section>
    <section data-markdown>
        ### Sistema de tipos de la programación

        - **Tipado estático**: Se determina el tipo de todas las expresiones en tiempo de compilación.
        - **Tipado dinámico**: Se determina la validez de los tipos de datos durante la ejecución del programa.
    </section>

    <section data-markdown>
        ### Python 
                    
        - **Interpretado**: Se ejecuta sin necesidad de ser procesado por el compilador y se detectan los errores en tiempo de ejecución.
        - **Multiparadigma**: Soporta programación funcional, programación imperativa y programación orientada a objetos.
        - **Tipado dinámico**: Las variables se comprueban en tiempo de ejecución.
        - **Multiplataforma**: disponible para plataformas de Windows, Linux o MAC.
        - **Gratuito**: No dispone de licencia para programar.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Aprende Programando en Python
            - Clase 1 
            - Clase 2 
            - Clase 4 
            - Clase 5
            - Clase 6
            - Prueba de nivel A1
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Aprende Python paso a paso

        [Tutorial en AprendeProgramando](https://www.aprendeprogramando.es/cursos-online/python)

        ![](https://www.aprendeprogramando.es/images/pages/aprende-programando.png)
    </section>
</section>
