<section>
    <section data-markdown>
        ## 6ª Sesión
        
        Internet de las cosas
        
        > 15 de Mayo de 2019
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Servidor web con Flask en Python
        - Arranque automático en Raspbian
        - Control de GPIO con Flask en Python
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Servidor web con Flask en Python

        [Tutorial en WikiTIC](https://wikitic.github.io/tutorial/raspberry_pi-webserver-python/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-webserver-python/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        Arranque automático en Raspbian

        [Tutorial en WikiTIC](https://wikitic.github.io/tutorial/raspberry_pi-raspbian-boot/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian-boot/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 3:
        
        Control de GPIO con Flask en Python

        [Tutorial en WikiTIC](https://wikitic.github.io/tutorial/raspberry_pi-webserver-gpio/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-webserver-gpio/master/preview.png)
    </section>
</section>
