<section>
    <section data-markdown>
        ## 6ª Sesión
        
        Internet de las cosas
        
        > 8 de Octubre de 2019
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Servidor web con Flask en Python
        - Control de GPIO con Flask en Python
        - Arranque automático en Raspbian (AVANZADA)
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        [Servidor web con Flask en Python](https://www.programoergosum.es/tutoriales/servidor-web-con-flask-en-raspberry-pi/)


        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/servidor-web-con-flask-en-raspberry-pi/img/preview.jpg)
    </section>
    
    <section data-markdown>
        ### Práctica 2:
        
        [Control de GPIO con Flask en Python](https://www.programoergosum.es/tutoriales/control-de-gpio-con-flask-en-raspberry-pi/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/control-de-gpio-con-flask-en-raspberry-pi/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 3: (AVANZADA)
        
        [Arranque automático en Raspbian](https://www.programoergosum.es/tutoriales/arranque-automatico-en-raspbian/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/arranque-automatico-en-raspbian/img/preview.jpg)
    </section>
</section>
