<section>
    <section data-markdown>
        ## 1ª Sesión

        Sistema Operativo Raspbian
        
        > 30 de Abril de 2019
    </section>
    <section data-markdown>
        ### ¿Qué es Raspberry Pi?

        Un ordenador de pequeñas dimensiones destinado principalmente al desarrollo de prototipos y **ámbito educativo**.
        
        ![](images/raspberry-pi-3.png)

        [Raspberry Pi Documentation](https://www.raspberrypi.org/documentation)
    </section>
    <section data-markdown>
        #### Modelos

        | Raspberry Pi |  2 B+ | 3 B+ | Zero |
        | :--: | :--: | :--: | :--: |
        | Precio | 35 | 35 | 5 |
        | Cores | 4 | 4 | 1 |
        | CPU | 900 MHz | 1.2 GHz | 1 GHz |
        | RAM | 1 GB | 1 GB | 512 MB |
        | Ethernet | Si | Si | No |
        | WiFi | No | Si | Si |
        | GPIO | 40 | 40 | 40 |
        | Consumo | 820 mA | 1400 mA | 350 mA |
    </section>
    <section data-markdown>
        #### Hardware
        
        Hardware abierto, a excepción del chip principal, el Broadcomm, basado en arquitectura ARM (Advanced RISC Machine).

        **RISC** (Reduced Instruction Set Computer)
        - Énfasis en el Hardware
        - Idea básica: Instrucciones sencillas
        - MIPS: 140 instrucciones aprox.

        **CISC** (Complex Instruction Set Computer)
        - Énfasis en el Software
        - Idea básica: Instrucciones complejas
        - MIPS: 325 instrucciones aprox.
    </section>
    <section data-markdown>
        #### Software
        
        Disponible una gran cantidad de sistemas operativos (oficiales y no oficiales) para Raspberry Pi, tanto en Linux como Windows.

        ![](images/software.png)
    </section>
    <section data-markdown>
        ### Raspbian

        Sistema Operativo basado en Linux Debian optimizado para el procesador ARM y recomendado por la fundación Raspberry Pi.
        
        ![](images/raspbian.png)
    </section>
    <section data-markdown>
        #### Modos de instalación
        
        - **Mediante NOOBS:** Instalación mediante asistente de instalación (recomendada para usuarios generalmente poco expertos).
        - **Mediante imagen:** Instalación mediante imagen del sistema operativo (para usuarios avanzados).
    </section>
    <section data-markdown>
        #### Tipos de instalación

        - **Raspbian Pixel:** Versión completa con entorno gráfico (versión de escritorio con menús, ventanas, iconos, fondos de pantalla, etc).
        - **Raspbian Lite:** Versión reducida sin entorno gráfico para utilizar en modo terminal o consola.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Instalar Raspbian en Raspberry Pi con NOOBs
        - Instalar Raspbian en Raspberry Pi con Etcher
        - Actualizar el sistema operativo Raspbian
        - Clonar tarjeta SD Raspbian en Raspberry Pi con piclone
        - Primeros pasos en Raspbian
        - Direcciones IP en Raspberry Pi
        - Escritorio remoto a través de VNC
        - Acceso remoto a través de SSH
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Instalar Raspbian en Raspberry Pi con NOOBs
        
        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-raspbian-noobs/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian-noobs/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 2:

        Instalar Raspbian en Raspberry Pi con Etcher
        
        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-raspbian-etcher/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian-etcher/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 3:
        
        Actualizar el sistema operativo Raspbian

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-raspbian-update/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian-update/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 4:
        
        Clonar tarjeta SD Raspbian en Raspberry Pi con piclone

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-raspbian-piclone/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian-piclone/master/preview.png)
    </section>
    
    <section data-markdown>
        ### Práctica 5:
        
        Direcciones IP en Raspberry Pi

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-ip/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-ip/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 6:
        
        Escritorio remoto a través de VNC

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-vnc/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-vnc/master/preview.png)
    </section>    
    <section data-markdown>
        ### Práctica 7:
        
        Primeros pasos en Raspbian

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-raspbian/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-raspbian/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 8: (AVANZADA)
        
        Acceso remoto a través de SSH

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-ssh/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-ssh/master/preview.png)
    </section>
</section>
