<section>
    <section data-markdown>
        ## 4ª Sesión
        
        Programación en MicroPython
        
        > 8 de Mayo de 2019
    </section>
    <section data-markdown>
        ### ¿Qué es GitHub?

        GitHub es una plataforma para alojar proyectos utilizando el sistema de control de versiones de **Git**.
        
        ![](images/github.png)

        [GitHub ElCableAmarillo](https://github.com/ElCableAmarillo)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Crea un cuenta en GitHub y un repositorio
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Crea un cuenta en GitHub y un repositorio

        [Tutorial en WikiTIC](https://wikitic.github.io/git-github/)

        ![](https://raw.githubusercontent.com/wikitic/git-github/master/preview.png)
    </section>

    <section data-markdown>
        ### Micropython

        MicroPython​ es una implementación de Python 3, escrita en C, optimizada para ejecutarse en un microcontrolador.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Primeros pasos con Micro:bit y Mu Editor
        - Matriz de LEDs en Micro:bit con MicroPython
        - Botones en Micro:bit con MicroPython
        - Pines IO en Micro:bit con MicroPython
        - Acelerómetro en Micro:bit con MicroPython
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Primeros pasos con Micro:bit y Mu Editor

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-microbit-mu/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-microbit-mu/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        Matriz de LEDs en Micro:bit con MicroPython

        [Tutorial en WikiTIC](https://wikitic.github.io/microbit-micropython-images/)

        ![](https://raw.githubusercontent.com/wikitic/microbit-micropython-images/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 3:
        
        Botones en Micro:bit con MicroPython

        [Tutorial en WikiTIC](https://wikitic.github.io/microbit-micropython-buttons/)

        ![](https://raw.githubusercontent.com/wikitic/microbit-micropython-buttons/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 4:
        
        Pines IO en Micro:bit con MicroPython

        [Tutorial en WikiTIC](https://wikitic.github.io/microbit-micropython-iopins/)

        ![](https://raw.githubusercontent.com/wikitic/microbit-micropython-iopins/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 5:
        
        Acelerómetro en Micro:bit con MicroPython

        [Tutorial en WikiTIC](https://wikitic.github.io/microbit-micropython-accelerometer/)

        ![](https://raw.githubusercontent.com/wikitic/microbit-micropython-accelerometer/master/preview.png)
    </section>
</section>
