<section>
    <section data-markdown>
        ## 5ª Sesión

        Pines GPIO + Arduino
        
        > 13 de Mayo de 2019
    </section>
    <section data-markdown>
        ### Pines GPIO

        General Purpose Input Output (GPIO) es un sistema de entrada y salida de propósito general.

        ![](images/gpio.png)

        [Pinout](https://es.pinout.xyz/#)
    </section>
    <section data-markdown>
        ### Modo de los pines

        - GPIO: se numeran de forma física que ocupan en la placa (gris)
        - BCM: se numeran por la correspondencia en el chip Broadcom CPU.

        ![](images/gpio-rpi.png)
    </section>
    <section data-markdown>
        ### Thonny Python IDE

        Thonny Python IDE es un entorno de programación sencillo para programar en Python con Raspbian.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Pines GPIO en Raspberry Pi
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Pines GPIO en Raspberry Pi

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-gpio/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-gpio/master/preview.png)
    </section>

    <section data-markdown>
        ### PySerial con Arduino

        Con PySerial podemos comunicarnos a través del serial entre Arduino y Raspberry Pi.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Instalar Arduino IDE en Raspberry Pi
        - Conectando Raspberry Pi y Arduino con PySerial
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Instalar Arduino IDE en Raspberry Pi

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-arduino_ide/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-arduino_ide/master/preview.png)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        Conectando Raspberry Pi y Arduino con PySerial

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-arduino_ide-pyserial/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-arduino_ide-pyserial/master/preview.png)
    </section>
    
</section>
