<section data-background="#dddddd">
    <section>
        <h2>1ª Sesión</h2>
        <p>Introducción a Raspberry Pi</p>
        <ul>
        <li>Hardware</li>
        <li>Software</li>
        <li>SO Raspbian</li>
        </ul>
    </section>
    <section>
        <h3>¿Qué es Raspberry Pi?</h3>
        <p>Un ordenador de pequeñas dimensiones destinado principalmente al desarrollo de prototipos y <strong>ámbito educativo</strong>.</p>
    </section>
    <section>
        <h3>Hardware</h3>
    </section>
    <section>
        <h3>Software</h3>
    </section>
    <section>
        <h3>Software / Raspbian</h3>
    </section>
</section>
