<section>
    <section data-markdown>
        ## 6ª Sesión
        
        Internet de las cosas
        
        > 15 de Mayo de 2019
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Pines GPIO en Raspberry Pi
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Servidor web con Flask en Python

        [Tutorial en WikiTIC](https://wikitic.github.io/raspberry_pi-webserver-python/)

        ![](https://raw.githubusercontent.com/wikitic/raspberry_pi-webserver-python/master/preview.png)
    </section>
</section>
