<section>
    <section data-markdown>
        ## 3ª Sesión

        Videovigilancia
        
        > 26 de Septiembre de 2019
    </section>
    <section data-markdown>
        ### Sistema de seguridad

        Utilizando una Raspberry Pi podemos crearnos un sistema de videovigilancia, realizar capturas de pantallas y verlas desde el móvil.
    </section>

    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Configura una webcam en Raspberry Pi con LUVCview
        - Imágenes automáticas con fswebcam en Raspberry Pi 
        - Detecta movimientos con una webcam y Motion en Raspberry Pi 
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        [Configura una webcam en Raspberry Pi con LUVCview](https://beta.programoergosum.com/tutoriales/raspberry-pi/webcam-con-luvcview-en-raspberry-pi)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/raspberry-pi/webcam-con-luvcview-en-raspberry-pi/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        [Imágenes automáticas con fswebcam en Raspberry Pi](https://beta.programoergosum.com/tutoriales/raspberry-pi/webcam-con-fswebcam-en-raspberry-pi)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/raspberry-pi/webcam-con-fswebcam-en-raspberry-pi/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 3: (AVANZADO)
        
        [Detecta movimientos con una webcam y Motion en Raspberry Pi](https://beta.programoergosum.com/tutoriales/raspberry-pi/webcam-con-motion-en-raspberry-pi)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/raspberry-pi/webcam-con-motion-en-raspberry-pi/img/preview.jpg)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Aprende Programando en Python
            - Clase 7
            - Clase 8 
            - Clase 9
            - Prueba de nivel A2
            - Clase 13
            - Clase 14
    </section>
    <section data-markdown>
        ### Aprende Programando
        
        Aprende Python paso a paso

        [Tutorial en AprendeProgramando](https://www.aprendeprogramando.es/cursos-online/python)

        ![](https://www.aprendeprogramando.es/images/pages/aprende-programando.png)
    </section>
</section>
