<section data-background="#dddddd">
    <section>
        <h2>1ª Sesión</h2>
        <p>Introducción a Raspberry Pi</p>
        <p><small>30 de Abril de 2019</small></p>
    </section>
    <section>
        <h3>¿Qué es Raspberry Pi?</h3>
        <p>Un ordenador de pequeñas dimensiones destinado principalmente al desarrollo de prototipos y <strong>ámbito educativo</strong>.</p>
    </section>
    <section>
        <h3>Hardware</h3>
    </section>
    <section>
        <h3>Software</h3>
    </section>
    <section>
        <h3>Software / Raspbian</h3>
    </section>
</section>
