<section>
    <section data-markdown>
        ## 5ª Sesión

        Pines GPIO + Arduino
    </section>
    <section data-markdown>
        ### Pines GPIO

        General Purpose Input Output (GPIO) es un sistema de entrada y salida de propósito general.

        ![](images/gpio.png)

        [Pinout](https://es.pinout.xyz/#)
    </section>
    <section data-markdown>
        ### Modo de los pines

        - GPIO: se numeran de forma física que ocupan en la placa (gris)
        - BCM: se numeran por la correspondencia en el chip Broadcom CPU.

        ![](images/gpio-rpi.png)
    </section>
    <section data-markdown>
        ### Thonny Python IDE

        Thonny Python IDE es un entorno de programación sencillo para programar en Python con Raspbian.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Primeros pasos con Pines GPIO en Raspberry Pi
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        [Primeros pasos con Pines GPIO en Raspberry Pi](https://www.programoergosum.es/tutoriales/introduccion-a-pines-gpio-en-raspbian)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/introduccion-a-pines-gpio-en-raspbian/img/preview.jpg)
    </section>

    <section data-markdown>
        ### PySerial con Arduino

        Con PySerial podemos comunicarnos a través del serial entre Arduino y Raspberry Pi.
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Instalar Arduino IDE en Raspberry Pi
        - Conectando Raspberry Pi y Arduino con PySerial
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        [Instalar Arduino IDE en Raspberry Pi](https://www.programoergosum.es/tutoriales/instalar-arduino-ide-en-raspbian)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/instalar-arduino-ide-en-raspbian/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        [Conectando Raspberry Pi y Arduino con PySerial](https://www.programoergosum.es/tutoriales/conectando-arduino-con-pyserial/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/v1/conectando-arduino-con-pyserial/img/preview.jpg)
    </section>
</section>
