<section>
    <section data-markdown>
        ## 4ª Sesión
        
        Programación en MicroPython
        
        > 1 de Octubre de 2019
    </section>
    <section data-markdown>
        ### Micropython

        MicroPython​ es una implementación de Python 3, escrita en C, optimizada para ejecutarse en un microcontrolador.
    </section>
    <section data-markdown>
        ### Microbit

        Micro:bit es un proyecto de la BBC cuyo propósito principal es aprender a programar.

        [Ideas](https://microbit.org/ideas/)

        [Diseños](https://www.thingiverse.com/search?q=microbit)

        [Herramientas](https://github.com/carlosperate/awesome-microbit)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Primeros pasos con Micro:bit y Mu Editor
        - Matriz de LEDs en Micro:bit con MicroPython
        - Botones en Micro:bit con MicroPython
        - Pines IO en Micro:bit con MicroPython
        - Acelerómetro en Micro:bit con MicroPython
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        [Programa tu Micro:bit en Raspberry Pi con MicroPython](https://beta.programoergosum.com/tutoriales/raspberry-pi/introduccion-a-mu-editor-en-raspbian/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/raspberry-pi/introduccion-a-mu-editor-en-raspbian/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 2:
        
        [Matriz de LEDs en Microbit con Python](https://beta.programoergosum.com/tutoriales/robotica-educativa/matriz-de-leds-en-microbit-con-python/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/robotica-educativa/matriz-de-leds-en-microbit-con-python/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 3:
        
        [Botones en Microbit con Python](https://beta.programoergosum.com/tutoriales/robotica-educativa/botones-en-microbit-con-python/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/robotica-educativa/botones-en-microbit-con-python/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 4:
        
        [Pines GPIO en Microbit con Python](https://beta.programoergosum.com/tutoriales/robotica-educativa/pines-gpio-en-microbit-con-python/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/robotica-educativa/pines-gpio-en-microbit-con-python/img/preview.jpg)
    </section>
    <section data-markdown>
        ### Práctica 5:
        
        [Acelerómetro en Microbit con Python](https://beta.programoergosum.com/tutoriales/robotica-educativa/acelerometro-en-microbit-con-python/)

        ![](https://raw.githubusercontent.com/ProgramoErgoSum/Tutoriales/master/robotica-educativa/acelerometro-en-microbit-con-python/img/preview.jpg)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Aprende Programando en Python
            - Clase 7
            - Clase 8 
            - Clase 9
            - Prueba de nivel A2
            - Clase 13
            - Clase 14
    </section>
    <section data-markdown>
        ### Aprende Programando
        
        Aprende Python paso a paso

        [Tutorial en AprendeProgramando](https://www.aprendeprogramando.es/cursos-online/python)

        ![](https://www.aprendeprogramando.es/images/pages/aprende-programando.png)
    </section>
</section>
