<section>
    <section data-markdown>
        ## 3ª Sesión

        Programación en MicroPython
        
        > 6 de Mayo de 2019
    </section>
    <!--
    <section data-markdown>
        ### ¿Qué es GitHub?

        GitHub es una plataforma para alojar proyectos utilizando el sistema de control de versiones de **Git**.
        
        ![](images/github.png)

        [GitHub ElCableAmarillo](https://github.com/ElCableAmarillo)
    </section>
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Crea un cuenta en GitHub y un repositorio
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Crea un cuenta en GitHub y un repositorio

        [Tutorial en WikiTIC](https://wikitic.github.io/git-github/)

        ![](https://raw.githubusercontent.com/wikitic/git-github/master/preview.png)
    </section>
    -->
    <section data-markdown data-background="#ff0">
        ## Prácticas

        - Aprende Programando en Python
            - Clase 7
            - Clase 8 
            - Clase 9
            - Prueba de nivel A2
            - Clase 13
            - Clase 14
    </section>
    <section data-markdown>
        ### Práctica 1:
        
        Aprende Python paso a paso

        [Tutorial en AprendeProgramando](https://www.aprendeprogramando.es/cursos-online/python)

        ![](https://www.aprendeprogramando.es/images/pages/aprende-programando.png)
    </section>
</section>
