<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <title>{{ site.course.title }}</title>
    <meta name="description" content="{{ site.course.description }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!--
    {% include components/forkme.html %}
    -->
	<div class="reveal">
		<div class="slides">
            {% include cover.html %}
            {% include session-1.html %}
            <!--
            {% include session-2.html %}
            {% include session-3.html %}
            {% include session-4.html %}
            {% include session-5.html %}
            {% include session-6.html %}
            {% include session-7.html %}
            -->
		</div>
    </div>
    {% include components/footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/lib/js/head.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
	<script>
		Reveal.initialize({ 
            hash: true, 
            history: true,
            dependencies: [
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                { src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.min.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } }
            ]
        });
	</script>
</body>
</html>
